.caja-none,
.caja-hidden {
  background-color: darkolivegreen;
  border: medium solid black;
  color: white;
  height: 300px;
  width: 600px;
}

.caja-none {
  display: none;
}

.caja-hidden {
  visibility: hidden;
  visibility: visible;
}