/*
  Propiedad display

  - inline
  - block
  - inline-block (se comporta como un elemento de linea pero acepta modificar sus dimensiones: width y height)
  - none
  - table
  - list-item
  - flex
  - grid
*/

.caja-none,
.caja-linea-bloque {
  background-color: darkolivegreen;
  border: medium solid black;
  color: white;
  height: 300px;
  width: 600px;
}

.caja-linea-bloque {
  display: inline-block;
}

.caja-none {
  display: none;
}