/*
  Regla CSS consta de dos partes:

  1) selector
  2) bloque de declaraciones {
    atributo: valor;
    atributo-de-mas-palabras: otro-valor;
  }
*/

/* Importar hojas de estilos en otras hojas de estilso */
/* Son mala practica porque son bloqueantes a la hora que el navegador lee esta instruccion */
@import url(otra-hoja.css);

h2 {
  color: orangered;
  background-color: black;
}