body {
  margin: 0;
}

.slide {
  background-color: paleturquoise;
  width: 100%;
  height: 100vh;
}

.slide:nth-child(odd) {
  background-color: palevioletred;
}

.slide-title {
  background-color: palegreen;
  padding: 16px;
  text-align: center;
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}