/* Los selectores de hermanos van a aplicar a los elementos que son hermanos y que esten por debajo del elemento de referencia */
.hermanos-general ~ li {
  background-color: thistle;
}

/* Solo seleccionara un elemento especificado que este inmediatamente despues de otro elemento especificado */
.hermanos-adyacente + li {
  background-color: thistle;
}