body {
  margin: 0;
}

.div-uno,
.div-dos {
  background-color: chocolate;
  border: medium solid orange;

  /*
    Esto aplica para margin y padding:

    1 valor: aplica todos los lados
    2 valores: primer valor aplica (top, bottom), segundo valor aplica (left, right)
    3 valores: primer valor aplica (top), segundo valor aplica (left, right), tercer valor aplica (bottom)
    4 valores: primer valor aplica (top), segundo valor aplica (right), tercer valor aplica (bottom), cuarto valor aplica (left)
  */

  padding: 10px;
  margin: 20px;

  padding: 20px 40px;
  margin: 40px 20px;

  padding: 0 40px 20px;
  margin: 50px 30px 0;

  padding: 0 40px 20px 50px;
  margin: 100px 50px 30px 0;
}