/*
  Selectores basicos:

  1) etiquetas -> son elementos html
  2) identificadores -> atributo id - #
  3) clases -> atributo class - .
*/

p {
  color: midnightblue;
}

/* Dar estilos con id es considerado mala practica */
#parrafo-2 {
  background-color: skyblue;
}

/* Dar estilos con clases nos permite reutilizar codigo css */
.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.text-white {
  color: white;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}