/*
  - z-index: Es una propiedad que permite controlar la profundidad de los elementos posicionados, su valor por defecto es auto, acepta numeros positivos, negativos y cero.

  A mayor valor el elemento esta mas al frente, a menor valor mas al fondo.

  Un elemento padre nunca podra estar sobre sus elementos hijos, sin embargo los elementos hijos si pueden dandoles un valor negativo y que el elemento padre no tenga definido z-index.

  z-index: 999;
*/

.z-index-1,
.z-index-2 {
  background-color: mediumaquamarine;
  border: thin solid black;
  position: relative;
  width: 200px;
  height: 200px;
}

.z-index-1 {
  z-index: 1;
  z-index: 0;
}

.z-index-2 {
  top: -202px;
  left: 100px;
  z-index: 2;
  z-index: -1;
}

.z-index-parent {
  background-color: mediumorchid;
  width: 300px;
  height: 300px;
  position: relative;
}

.z-index-child {
  background-color: mediumvioletred;
  position: relative;
  width: 150px;
  height: 150px;
  top: -75px;
  left: 75px;
  z-index: -3;
}