/* Reseteo de box-sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.box-sizing-content {
  background-color: deepskyblue;
  border: thick solid black;
  box-sizing: content-box;
  height: 250px;
  padding: 10px;
  width: 500px;
}

.box-sizing-border {
  background-color: deepskyblue;
  border: thick solid black;
  box-sizing: border-box;
  height: 250px;
  padding: 10px;
  width: 500px;
}

.container-col-3 {
  background-color: burlywood;
  margin-top: 20px;
  height: 300px;
  width: 600px;
}

.container-col-3 > * {
  box-sizing: border-box;
  border: thin solid red;
  width: 200px;
  float: left;
}