.box {
  background-color: sandybrown;
  padding: 20px;
  /* Valores negativos se aplican en margin */
  margin-top: -30px;
  margin-left: -30px;
  /* Valores negativos no se aplican en padding */
  padding-right: -30px;
}