/* Selecciona cualquier input requerido (es util para resaltar campos que deben tener datos validos antes de que se pueda enviar un formulario.) */
.form-pseudoclases *:required {
  border-color: yellow;
}

/* Selecciona cualquier input valido (es util para resaltar los campos correctos para el usuario) */
.form-pseudoclases *:valid {
  border-color: green;
}

/* Selecciona cualquier input invalido (es util para resaltar errores de campo para el usuario) */
.form-pseudoclases *:invalid {
  border-color: red;
}

/* Selecciona cualquier input cuando se enfoca */
.form-pseudoclases *:focus {
  background-color: skyblue;
}

/* Selecciona cualquier input deshabilitado */
.form-pseudoclases *:disabled {
  background-color: pink;
}

/* Selecciona cualquier a que ha sido visitado (debe ir antes de la pseudoclase hover) */
.menu-pseudoclases a:visited {
  color: olive;
}

/* Selecciona cualquier elemento a cuando esta mantenido */
.menu-pseudoclases a:hover {
  color: orange;
}

/* Selecciona un elemento con una ID que coincida con el fragmento de la URL actual */
#temario-css:target {
  background-color: lightgreen;
}

.p-pseudoclases:hover {
  font-size: 20px;
}