body {
  margin: 0;
  /* Agregar padding-top al body para evitar la superposicion con position fixed, si es position sticky no es necesario el padding-top */
  /* padding-top: 50px; */
}

.header {
  background-color: mistyrose;
  width: 100%;
  height: 50px;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.hero-image {
  background-color: palegoldenrod;
  width: 100%;
  height: 100vh;
}