.modal-window {
  background-color: chocolate;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  display: none;
}

.modal-window:target {
  display: block;
}