h2 {
  /* Propiedades de tipo shorthand */
  border-color: green;
  border-top-color: red;

  border-width: 3px;
  border-width: thick; /* thin, medium y thick */

  border-style: solid; /* solid, dashed y dotted */

  border: 2px dashed blue;
}