/*
  - static: Es el valor por defecto, significa que el elemento respeta el flujo del documento HTML, por lo que no se puede mover ni posicionar con las propiedades (top, bottom, left, right y z-index).
*/

.static {
  background-color: yellow;
  position: static;
  top: 10px;
  left: 10px;
}