/*
  - relative: El elemento conserva sus dimensiones y posicion original en el flujo del documento. Si se mueve toma como referencia su posicion original.

  Propiedades para valores positivos

  - top: mueve hacia abajo
  - right: mueve hacia la izquierda
  - bottom: mueve hacia arriba
  - lef: mueve hacia la derecha

  Propiedades para valores negativos

  - top: mueve hacia arriba
  - right: mueve hacia la derecha
  - bottom: mueve hacia abajo
  - lef: mueve hacia la izquierda
*/

.relative {
  background-color: turquoise;
  position: relative;
  width: 300px;
  height: 50px;
  top: 50px;
  left: 50px;
  /* bottom: 50px; */
  /* right: 50px; */

  /* top: -50px; */
  /* left: -50px; */
  /* bottom: -50px; */
  /* right: -50px; */
}