/*
  Caja de linea:

  - Ocupan el espacio necesario para mostrar su contenido
  - No tiene dimensiones modificables (alto, ancho)
  - Permiten otros elementos a su lado
  - Padding y margin solo empujan a elementos adyacentes en horizontal, nunca en vertical

  Caja de bloque:

  - Ocupan todo el ancho disponible
  - Tienen dimensiones modificables (alto, ancho)
  - No permiten otros elementos a su lado (aunque especifique un ancho, sigue ocupando todo el espacio disponible)
*/

.caja-linea,
.caja-bloque {
  background-color: darkcyan;
  border: medium solid black;
  color: white;
  width: 500px;
  height: 250px;
  padding: 16px;
}

.caja-linea {
  margin: 48px;
}

.caja-bloque {
  margin: 32px;
}