/* Los margenes horizontales se suman los margenes */
.margin-adition {
  background-color: skyblue;
}

.margin-adition section {
  border: thin solid black;
}

.margin-adition span {
  border: thin solid black;
  display: inline-block;
  margin-right: 16px;
  margin-left: 16px;
}