/* Los margenes verticales se superponen y solo usar una de las propiedades de margen */
.margin-collapse {
  background-color: skyblue;
}

.margin-collapse section {
  border: thin solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}