/* Clase en que contiene el atributo (href) */
.selectores-atributos a[href] {
  color: orangered;
}

/* Clase en que el atributo (target) coincida con (_blank) */
.selectores-atributos a[target="_blank"] {
  font-weight: bold;
}

/* Clase en que el atributo (href) contenga (jonmircha) */
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

/* Clase en que el atributo (href) comience con (https) */
.selectores-atributos a[href^="http://"] {
  text-decoration: none;
}

/* Clase en que el atributo (href) termina con (.com) */
.selectores-atributos a[href$=".com"] {
  background-color: black;
}

/* Clase en que la etiqueta (a) cuyo atributo class contenga la palabra (cursos) */
.selectores-atributos a[class~="cursos"] {
  background-color: midnightblue;
}

/* Clase en que la etiqueta (a) cuyo atributo class tenga exactamente el valor (menu) o empieze con el valor (menu) seguido de un guion */
.selectores-atributos a[class|="menu"] {
  font-style: italic;
}