/* Selecciona cualquier etiqueta que sea el primer elemento */
.lista-pseudoclases li:first-child {
  color: green;
}

/* Selecciona cualquier etiqueta que sea el ultimo elemento */
.lista-pseudoclases li:last-child {
  color: violet;
}

/* Selecciona cualquier etiqueta que sea el indice que se le pasa como argumento */
.lista-pseudoclases li:nth-child(3) {
  color: navy;
}

/* Selecciona cada cuatro elementos entre cualquier grupo de hermanos */
.lista-pseudoclases li:nth-child(4n) {
  font-size: 20px;
}

/* Selecciona cada tres elementos sumandole uno entre cualquier grupo de hermanos */
.lista-pseudoclases li:nth-child(3n + 1) {
  font-weight: bold;
}

/* Selecciona solo los elementos pares entre cualquier grupo de hermanos */
.lista-pseudoclases li:nth-child(even) {
  background-color: yellow;
}

/* Selecciona solo los elementos impares entre cualquier grupo de hermanos */
.lista-pseudoclases li:nth-child(odd) {
  background-color: orange;
}

/* Selecciona cualquier etiqueta que sea el primer elemento de este tipo entre sus hermanos */
.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}

/* Selecciona cualquier etiqueta que sea el ultimo elemento de su tipo entre sus hermanos */
.articulo-pseudoclases p:last-of-type {
  background-color: violet;
}

/* Selecciona cualquier etiqueta que sea el indice que se le pasa como argumento de su tipo entre sus hermanos */
.articulo-pseudoclases p:nth-of-type(3) {
  background-color: fuchsia;
}

/* Selecciona cualquier elemento que NO sea la etiqueta que se le pasa como argumento y si son varios se separan por coma */
.articulo-pseudoclases *:not(p) {
  background-color: beige;
}