/* Solo aplica a los hijos del primer nivel */
.hijos-directos > li {
  background-color: thistle;
}

/* Aplica a la etiqueta que esta dentro de la clase sin importar el orden en el que se encuentren */
.hijos-descendientes b {
  background-color: thistle;
}