/*
  Modelo de caja:

  1. El contenido (content): El contenido del elemento HTML
  2. El borde (border): Lo que delimita cada uno de los elementos HTML
  3. El relleno (padding): Son las distancias internas (la distancia del borde al contenido)
  4. El margen (margin): Son las distancias externas(la distancia entre el elemento HTML y sus elementos hermanos o padres

  Dentro del modelo de caja hay que considerar que una caja tendra 4 lados:

  1. Arriba (top)
  2. Derecha (right)
  3. Abajo (bottom)
  4. Izquierda (left)
*/

h2 {
  border-style: solid;
  border-width: 3px;
}