/*
  El algoritmo de CSS es la forma en que el navegador aplica los estilos al documento HTML. Es vital entender este concepto para que entiendas como se aplican y en algunas ocasiones se sobreescriben las reglas CSS.

  1) La cascada
  2) La especificidad
  3) La herencia



  La cascada es el mecanismo en que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden:

  1) El origen del codigo:
    - El User Agent (los estilos por defecto del navegador)
    - Personalizaciones del usuario
    - Los estilos del autor
  2) La especificidad del selector
  3) Orden de aparicion



  La especificidad es el peso que tiene un selector cuando hay conflicto de estilos. Se calcula de la siguiente forma:

  Etiquetas y pseudoelementos ---------- 0, 0, 0, 1
  Clases, atributos y pseudoclases ----- 0, 0, 1, 0
  Identificadores ---------------------- 0, 1, 0, 0
  Estilos en linea --------------------- 1, 0, 0, 0
  !important --------------------------- rompe la especificidad
*/

/* Especificidad 1, 1, 1 */
blockquote#cita-marco.cita-marco {
  background-color: lightsteelblue;
}

/* Especificidad 0, 0, 1 */
blockquote {
  background-color: burlywood;
}

/* Especificidad 1, 0, 0 */
#cita-marco {
  background-color: lightgreen;
}

/* Especificidad 0, 1, 1 */
blockquote.cita-marco {
  background-color: tomato;
}

/* Especificidad 0, 1, 0 */
.cita-marco {
  background-color: cornflowerblue;
}

.cita-marco {
  background-color: mediumaquamarine !important;
}

/* Especificidad 1, 0, 1 */
blockquote#cita-marco {
  background-color: lightsalmon;
}

.cita-marco {
  background-color: moccasin !important;
}