/* Añade contenido antes de la etiqueta */
.saga-geminis::before {
  content: "⚡";
}

/* Añade contenido despues de la etiqueta */
.saga-geminis::after {
  content: "⚡";
}

.saga-precio::before {
  content: "$";
  font-weight: bold;
}

.saga-precio::after {
  content: "USD";
  font-weight: bold;
}

/* Selecciona la primera letra de la etiqueta */
.p-pseudoelementos::first-letter {
  font-weight: bold;
  font-size: 32px;
}

/* Selecciona la primera línea de la etiqueta */
.p-pseudoelementos::first-line {
  color: coral;
}

/* Selecciona un color al texto seleccionado */
.p-pseudoelementos::selection {
  color: greenyellow;
  background-color: black;
}

/* Representa el texto provisional en un elemento input o un elemento textarea */
.input-pseudoclases::placeholder {
  color: green;
}