.overflow {
  background-color: darkturquoise;
  height: 100px;
  width: 200px;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}