/*
  La herencia es la capacidad de un selector obtener (heredar) los valores de sus ancestros, para aplicarla se usa el valor de inherit, si queremos evitarla podemos asignar otro valor o inicializar la propiedad en cuestion con el valor initial.
*/

.cita-marco {
  background-color: moccasin;
  background-color: darkorange;
  font-size: 32px;
  border-style: dotted;
  border-color: red;
}

.cita-marco cite {
  background-color: pink;
  background-color: inherit;
  font-size: 24px;
  font-size: initial;
  border-style: inherit;
  border-color: inherit;
}